:root {
	--gap: 24px;
	--nav-phone-bg: rgb(229, 229, 229);
	--page-header-gap-from-nav: 24px;
	--content-gap: 13px;
	--nav-width: 1024px;
	--main-width: 720px;
	--header-padding-height: 10px;
	--header-height: 62.4px;
	--footer-height: 60px;
	--radius: 8px;
	--theme: rgb(255, 255, 255);
	--entry: rgb(255, 255, 255);
	--home-info-sub-title: rgb(80, 80, 80);
	--primary: rgb(30, 30, 30);
	--secondary: rgb(108, 108, 108);
	--tertiary: rgb(214, 214, 214);
	--constrast-primary: rgb(218, 218, 219);
	--content: rgb(31, 31, 31);
	--hljs-bg: rgb(28, 29, 33);
	--code-bg: rgb(245, 245, 245);
	--border: rgb(238, 238, 238);
	--miscellaneous: rgb(33, 181, 111);
}

.dark {
	--theme: rgb(40, 40, 40);
	--nav-phone-bg: rgb(32, 32, 32);
	--entry: rgb(53, 54, 55);
	--home-info-sub-title: rgb(175, 175, 175);
	--primary: rgb(218, 218, 219);
	--secondary: rgb(155, 156, 157);
	--tertiary: rgb(65, 66, 68);
	--constrast-primary: rgb(30, 30, 30);
	--content: rgb(196, 196, 197);
	--hljs-bg: rgb(46, 46, 51);
	--code-bg: rgb(55, 56, 62);
	--border: rgb(51, 51, 51);
	--miscellaneous: rgba(64, 158, 255);
}

.list {
	background: var(--code-bg);
}

.dark.list {
	background: var(--theme);
}
