{{- define "main" }}

<header class="page-header">
	<h1>{{- .Title }}</h1>
	{{- if .Description }}
	<div class="post-description">{{ .Description }}</div>
	{{- end }}
</header>
{{ .Content }}

<div id="cm--form" class="cm--form">
	<form
		class="form"
		id="newsletter-form"
		autocomplete="off"
		action="https://mattiapagotto.us12.list-manage.com/subscribe/post?u=9c6b2f17e7035fe1df293fdaa&amp;id=8651a673a9&amp;f_id=0053bce0f0"
		method="post"
		target="_blank"
	>
		<div class="input-div">
			<div class="input-el name">
				<label for="name-input"
					><span class="span-info"> {{ i18n "Name" }} </span
					><span class="required-tag" aria-hidden="true"
						>({{ i18n "required" }}) - {{ i18n "surname_not_recessary"
						}}</span
					></label
				>
				<div class="data-conn">
					<input
						class="bg-color-lightgrey"
						id="name-input"
						name="FNAME"
						required=""
						maxlength="60"
					/>
					<span aria-hidden="true" class="err-ico name no-select"
						><span class="hidden name-err"
							>{{ i18n "err_invalid_name" }}</span
						>
						<svg
							style="height: 2rem; width: 2rem"
							viewBox="0 0 512 512"
							xmlns="http://www.w3.org/2000/svg"
							x="0px"
							xml:space="preserve"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							y="0px"
						>
							<path
								d="M305.486,405.211c0,27.191-21.752,49.486-49.486,49.486c-27.734,0-49.486-22.295-49.486-49.486 c0-27.19,21.752-49.485,49.486-49.485C283.734,355.726,305.486,378.022,305.486,405.211z M278.678,306.24h-45.873 c-6.8,0-12.398-5.347-12.708-12.14l-9.711-212.197c-0.332-7.247,5.454-13.303,12.708-13.303h65.781c7.266,0,13.056,6.075,12.707,13.332l-10.197,212.197C291.06,300.91,285.467,306.24,278.678,306.24z"
								fill="#2B3B47"
							></path></svg
					></span>
				</div>
			</div>
			<div class="input-el email">
				<label for="email-input"
					><span class="span-info"> {{ i18n "Email" }} </span
					><span class="required-tag" aria-hidden="true"
						>({{ i18n "required" }})</span
					></label
				>
				<div class="data-conn">
					<input
						class="bg-color-lightgrey"
						id="email-input"
						name="EMAIL"
						required=""
						type="email"
					/>
					<span aria-hidden="true" class="err-ico email no-select"
						><span class="hidden email-err"
							>{{ i18n "err_invalid_email" }}</span
						>
						<svg
							style="height: 2rem; width: 2rem"
							viewBox="0 0 512 512"
							xmlns="http://www.w3.org/2000/svg"
							x="0px"
							xml:space="preserve"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							y="0px"
						>
							<path
								d="M305.486,405.211c0,27.191-21.752,49.486-49.486,49.486c-27.734,0-49.486-22.295-49.486-49.486 c0-27.19,21.752-49.485,49.486-49.485C283.734,355.726,305.486,378.022,305.486,405.211z M278.678,306.24h-45.873 c-6.8,0-12.398-5.347-12.708-12.14l-9.711-212.197c-0.332-7.247,5.454-13.303,12.708-13.303h65.781c7.266,0,13.056,6.075,12.707,13.332l-10.197,212.197C291.06,300.91,285.467,306.24,278.678,306.24z"
								fill="#2B3B47"
							></path></svg
					></span>
				</div>
			</div>
			<div style="position: absolute; left: -5000px" aria-hidden="true">
				<input
					type="text"
					name="b_9c6b2f17e7035fe1df293fdaa_8651a673a9"
					tabindex="-1"
					value=""
				/>
			</div>
		</div>
		<div class="privacy_div">
			{{ i18n "newsletter_privacy" }}
			<a
				href="https://mailchimp.com/legal/terms/"
				target="_blank"
				rel="noopener noreferrer"
				>{{ i18n "terms_of_use"}}</a
			>
		</div>
		<div class="submit-btn no-tap">
			<button type="submit" id="submit-btn">
				<span class="text inline-block align-middle no-select"
					>{{ i18n "subscribe_me_now" }}</span
				>
				<span class="icon inline-block align-middle no-select"
					><svg
						class="block"
						xmlns="http://www.w3.org/2000/svg"
						width="18"
						height="18"
						fill="currentColor"
						viewBox="0 0 16 16"
					>
						<path
							fill-rule="evenodd"
							d="M1 8a.5.5 0 0 1 .5-.5h11.8l-3.15-3.15a.5.5 0 0 1 .7-.7l4 4a.5.5 0 0 1 0 .7l-4 4a.5.5 0 0 1-.7-.7l3.14-3.15H1.5A.5.5 0 0 1 1 8z"
						></path></svg
				></span>
			</button>
		</div>
	</form>
</div>

{{- $newsletterjs := resources.Get "js/newsletter.js"}}
<script
	defer
	crossorigin="anonymous"
	src="{{ $newsletterjs.RelPermalink }}"
></script>

<!--End mc_embed_signup-->
{{- end }}{{/* end main */}}
