.last-added-title {
	margin-top: 15px;
	margin-bottom: var(--content-gap);
}

.first-entry.home-info h1 {
	font-size: 36px;
}

.first-entry.home-info .entry-content {
	color: var(--home-info-sub-title);
	font-size: 17px;
	line-height: 1.6;
}

.entry-footer.home-info {
	display: inherit;
}

.home-info-buttons {
	display: flex;
}

.home-info-buttons .button {
	padding: 0.55rem;
	margin-right: 8px;
}

.home-info-line-separator {
	height: 2px;
	background: var(--tertiary);
	border: 0;
}
